@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Architects+Daughter&family=Comfortaa:wght@300&family=Homemade+Apple&display=swap');

body {
   background-color: #FBFFFE;
}

/* LANDING PAGE /*/
.logo-wrap > H1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 55px;
    color: #F1D302;
    letter-spacing: 5px;
    padding-top: 55px;
}


.enter-sign {
    padding-right: 140px;
}

.enter-sign > a {
    font-family: 'Abril Fatface', cursive;
    font-size: 35px;
    color: #F1D302;
    text-decoration: none;
}

.enter-sign > a:hover{
    color: #EF233C;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.media-links {
    padding-right: 100px;
}

.media-links > a {
font-size: 35px;
color: #EF233C;
padding: 10px;


}

.media-links > a:hover {
    color: #F1D302;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(assets/images/background-image.png) no-repeat;
    background-size: cover; 
}

/* LANDING PAGE ENDS */

/* NAVBAR */ 
.nav-link{
color: #050505;
font-family: 'Homemade Apple';
margin: 0 25px;
-webkit-transition: all 0.5s 0s ease;
-moz-transition: all 0.5s 0s ease;
-o-transition: all 0.5s 0s ease;
transition: all 0.5s 0s ease;
}
.nav-link:hover {
    color: #D0D0D0;
}

/*NAVBAR ENDS */

/* FOOTER */

footer {
    border-color: #348AA7;
    border-style: solid;
    border-width: 1px;
    border-radius: 40px 40px 0 0;
}

.media-icons > a {

    font-size: 35px;
    color: #348AA7;
    margin: 10px;
    padding: 10px;
    transition: color 0.5s;
}

.media-icons > a:hover {
    background: linear-gradient(0deg, #F1D302 0%, #97D9E1 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.mickie4 {
    font-family: 'Homemade Apple';
    background: linear-gradient(0deg, #F1D302 0%, #97D9E1 100%);
    color: transparent;
    text-decoration: none;
    -webkit-background-clip: text;
    background-clip: text;

}

.mickie4 > a {
    background: linear-gradient( 89.8deg,  rgba(204,156,223,1) 0.3%, rgba(155,219,245,1) 20.4%, rgba(245,183,208,1) 40.2%, rgba(250,186,98,1) 62.9%, rgba(234,238,240,1) 81.9%, rgba(250,245,171,1) 99.2% );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: none;
    transition: color 0.5s;
}

.mickie4 > a:hover {
    color: #348AA7;
}


 
/*PROFILE AND BIO SECTION*/
#profile-pic {
    margin-top: 40px;   
}

.pic-image {
    border-radius: 8px;
}

.bio-section {
    margin-top: 40px;
}

.bio-section > h2 {
    font-family: 'Architects Daughter';
    color: #348AA7;
    padding-bottom: 50px;
}

.bio-section > p {
    font-family: 'Architects Daughter';
    color: #040F16;
    overflow: auto;
    font-size: 19px;
    letter-spacing: 1px;
}

.mobile-social > a {
        font-size: 55px;
        padding: 5px;
        color: #348AA7;
        transition: color 0.5s; 
    }

    .mobile-social > a:hover {

        background: linear-gradient(0deg, #F1D302 0%, #97D9E1 100%);
        color: transparent;
        text-decoration: none;
        -webkit-background-clip: text;
        background-clip: text;
    }
/* FOOTER ENDS*/

/*FEATURED SECTION */

.featured-section {

    margin-top: 150px;
    margin-bottom: 50px;
    font-family: 'Homemade Apple';
    color: #EF233C;
}

.featured-section > h2 {
    animation: mediaAnimation 7s infinite;
    animation-timing-function: ease-in-out;
}

.mag-logos {
        margin-bottom: 120px;
    margin-top: 40px;
}

.card-img-top {

    filter: drop-shadow(8px 8px 10px gray);
    padding: 30px;
    
}

/*CONTACT FORM */



/*MEDIA QUERIES */

@media only screen and (max-width: 768px) {


.featured-section > h2 {
    font-size: 25px;
}

}

@media only screen and (max-width: 600px) {

    footer {
        border-color: transparent;
    }
}


/*KEYFRAMES */

@keyframes mediaAnimation {
    0% {
        color: #EF233C;
    }

    50% {
        color: #F1D302;
    }

    100% {
        color: #348AA7; 
    }
}




